<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Check Customer and Add Card</title>
</head>
<body>
  <h1>Check Customer and Add Card</h1>

  <h3>Welcome to the Payment Gateway</h3>
  <form action="/payment" method="POST">
    <script src="https://js.stripe.com/v3/"></script>
    <!-- <input type="hidden" name="token" placeholder="token" required><br> -->
    <input type="text" name="email" placeholder="Email" required><br>
    <input type="text" name="cardNumber" placeholder="Card Number" required><br>
    <input type="text" name="expMonth" placeholder="Expiration Month" required><br>
    <input type="text" name="expYear" placeholder="Expiration Year" required><br>
    <input type="text" name="cvc" placeholder="CVC" required><br>
    <button type="submit">Pay</button>
  </form>
</body>
</html>